.cabecera{ text-align: center;
		font-family: serif ; 
		font-size: 60px;
		background-color: #084C81; 
		color: #fff; 
         border-style:solid;
        border-color: 000000;
		
}
#menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 200px;
    font-family: Arial;
    font-size: 15pt;
    margin-top: -3;
     border-style:solid;
    border-color: 000000;
}
#menu ul li {
    background-color: #084C81;
    
}
#menu ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 10px 10px 10px 20px;
}
#menu ul li a:hover {
    background: #498EC3;
    border-left: 5px solid #000000;
    color: #fff;
}

.contenido{
		font-family: sans-serif;
		font-size: 30px;
		text-align: justify;
		padding: 50px 180px;
		float: left;
        color: #fff

	}
.image {
    padding: 40px;
    margin: 0px 0px 2px 500px;
    display: inline;
}
#container {
width: 300px;
margin: 0 auto;
}
.ex2 img{
height: 100px;
width: 300px;
margin: 15px 0;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}
.ex2 img:hover {
height: 133px;
width: 400px;
margin-left: -50px;
}
body{background-image: url(imagenes/fondo.jpg);}